/* header */

/* Mobile-first CSS, with media queries for larger viewports */

* {
    font-family: sans-serif;
    --color-background: white;
    --color-foreground: #666;
    --color-foreground-highlight: black;
    /* background: #fff; */
    /* background: #000; */
  }

  .content{
    background: #2b343c;
  }
  
  html {
    height: 100%;
    background: #2b343c;
    color: #ccc;
  }
  
  body {
    align-items: center;
    background: #2b343c;
    color: #ccc;
    margin: 0;
  }

  .content{
    display: grid;
    grid-template-rows: 100px 1fr 40px;
    background: #2b343c;
  }
  
  header {
    margin: -40px 0 0 0 ;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 120px 500px   ;
    /* padding: 20px 20px; */
    width: calc(100% - 40px);
    background: #2b343c;
    color: azure;

  }
  
  .user{
    /* display: flex; */
    align-items: center;
    /* justify-content: start; */
    margin: 10px 40px 0 -20px;
    background: #2b343c
  }

  .icons{
    margin-left: -20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    background: #2b343c;
    color: azure;

  }

  .div{

    display: grid;
    grid-template-columns: repeat(2 , 1fr );
    background: #2b343c
  }

  .lang_content{
    margin-left: -80px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: #2b343c
  }

  .slesh{
    font-size: 40px;
   
    justify-content: center;
    background: #2b343c
  }
  

  .language{
    font-size: 20px;
    display: flex;
    align-self: auto;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 0 5px;
    background: #2b343c;
    color: azure;

  }
  
  form#search {
    align-items: center;
    display: flex;

  }
  
  form#search label {
    display: none;
    font-weight: 500;
    margin: 0 10px 0 0;

  }
  
  form#search input {
    background: rgb(214, 207, 207);
    border: solid #ccc;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    font-weight: 200;
    flex: 0.9;
    height: 33px;
    margin: 0;
    min-width: 90px;
    padding: 5px;
    -webkit-appearance: textfield;

  }
  
  form#search button {
    border: none;
    cursor: pointer;
    height: 33px;
    padding: 0;
  }
  
  form#search svg {
    background-color: #26882e;
    border-radius: 0 2px 2px 0;
    fill: white;
    height: 33px;
    min-width: 24px;
    padding: 0 7px;
    width: 24px;
    
  }
  
  form#search svg:hover {
    background-color: #1d6823;
    fill: white;
  }
  
  a#shopping-cart {
    position: relative;
    margin-right: 50px;
    display: flex;
    align-items: center;
    
  }

  /* .user{
    display: flex;
    align-items: center;
  } */
  
  a#shopping-cart::after {
    color: #fff;
    content: attr(data-badge);
    font-size: 12px;
    font-weight: bold;
    left: 23px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 18px;
  }
  
  a#shopping-cart[data-badge='']::after,
  a#shopping-cart[data-badge='0']::after {
    display: none;
  }
  
  a#shopping-cart svg {
    fill: #fff;
    height: 32px;
    position: relative;
    top: 2px;
    width: 125px;
    
  }
  
  a#shopping-cart svg:hover {
    fill: #ffffffad;
  }
  
  a#shopping-cart svg text {
    display: none;
    font-size: 12px;
  }
  
  
  @media all and (min-width: 750px) {
    header {
      align-items: center;
      background-color: var(--color-background);
      grid-template-columns: 200px auto 160px;
      padding: 40px;
      width: calc(100% - 80px);
      background: #2b343c

    }
  
    header h1 {
    background: #2b343c;

      font-size: 24px;
    }
  
  
    form#search input::placeholder {
      opacity: 0;
    }
  
    a#shopping-cart {
      justify-self: end;
      width: 100px;
    }
    a#shopping-cart svg text {
      
      display: inherit;
    }
  }

  .menu_header{
    margin-left: 60px;
    color: blanchedalmond;
    text-transform: uppercase;
    position: relative;
    background: #19232c;
  }
  
  .menu_header::before{
    background: #19232c;

    position: absolute;
    content: url("../img/icons/ukraine_icon_127856.png");
    left: 100px;
    top: -2px;
;
  }
 
  
/* ----------------------------- */

.content{
  background: #2b343c;

  display: grid;
  grid-template-rows: 100px    1fr ;
}

.section3{
  color: rgb(251, 245, 245);
}

.menu-content{
  display: grid;
  grid-template-columns: 280px 1fr;
}


/* ---------------------------------------------- */
.left-sidebar{
  min-height: 100vh;
}


/* ++++++++++++ */

.count_of_cart_products{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}