body {
    font-family: "Nunito", sans-serif;
    background-color: #eeeeee;
  }
  .container-space {
    margin-top: 2rem;
    margin-left: 0;
  }
  .product-thumbnails {
    display: flex;
    margin-top: 2rem;
  }
  .product-thumbnails > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .product-thumbnails > li {
    margin-right: 10px;
  }
  .product-thumbnails > ul > li > img {
    width: 100px;
    cursor: pointer;
  }
  .thumbnail-active {
    border: 2px solid #000;
  }
  .nav-link > img {
    width: 40px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .btn-custom-color {
    border: 2px solid #4fc08d;
    color: #4fc08d;
  }
  .btn-custom-color:hover {
    border: 2px solid #4fc08d;
    background-color: #4fc08d;
    color: #ffffff;
  }
  
  .header_menu_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c444b;
  }
  
  .header_menu_list li {
    float: left;
    min-width: 200px;
  }

  
  .header_menu_list li a {
    display: block;
    color: white;
    text-align: center;
    align-items: center;
    text-decoration: none;
  }
  
  .header_menu_list li a:hover {
    border-bottom: 3px solid rgb(224, 167, 61);
    margin-top: -3px;
  }

  .stockAvailability-true{
    padding: 0 5px;
    color: #4a924d;
    font-size: 15px;
    border-radius: 15px;

    display: inline-block;
  }

  .stockAvailability-false{
    padding: 0 5px;
    color: rgb(221, 89, 89);
    font-size: 15px;
    border-radius: 15px;

    display: inline-block;
  }

/* add to cart / buy buttons\\ */
.buy-add-to-cart{
  display: grid;
  grid-template-columns: repeat(2, 1fr );
}


.add-to-cart{
  
  border: rgb(59, 79, 146);
  background: rgb(59, 79, 146);
}

.add-to-cart:hover{
  
  border: rgb(42, 60, 119);
  background: rgb(42, 60, 119);
}

.add-to-cart-buy-cart{
  margin: 0 20px;
}

.cart-for-cart-button{
  margin: 0 10px 3px 0;
}

.buy-for-buy-button{
  margin: 0 5px 3px 0;
}

.price-like{
  display: flex;
  flex: auto;
  gap: 150px;
  align-items: center;
}

.like-next-to-price{
  color: yellow;
}

.like-next-to-price:hover{
  color: red;
}