{% extends "../market/base.html" %}
{% load static %}

{% block link %}
    {% if user.is_authenticated %}
	   	<title>{{title}}</title>
	   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	   	<style>
	   		
	   	</style>
    {% else %}
        <title>NONE</title>
    {% endif %}       
{% endblock %}

{% block main-content %}
    {% if user.is_authenticated %}
    <div id="card"><img class="profile" src="{% static 'market/store/img/icons/logo.png' %}" width="300"><br>
        <div class="name-header">{{user.first_name}} {{user.last_name}}</div>
        <div id="name" style="color: aliceblue;">{{user.email}}</div>
        <br>
        <div id="new">Total product cart</div>
        <div id="divider">{{cart.total_products}}</div>
        <div id="divider"></div>
        <br>
        <div id="new">Total price cart</div>
        <div id="divider">${{cart.total_price}}</div>
        <br>
        <div id="divider"></div>
        <div class="grid_profile_element">
            <font style="font-family: Comic Neue; letter-spacing: 0.6px" size="2.4">
            <font style="font-family: system-ui;">©</font>Gassy Hannah. 2021.
            </font>
            <a class="btn btn-success" href="{% url 'password_change' %}">Change password</a>
        </div>
    </div>  
    {% endif %}
{% endblock %}

{% block paginate %}
{% endblock %}