{% extends '../store/get_more.html' %}
{% load static %}
{% load menu_tags %}





{% block main-content %}
    <div class="hisory_links">
        <a class="hisory_links_elem" href="{% url 'home' %}">Home</a>	 / 
        <a class="hisory_links_elem" href="{% url 'get_category' category_slug=product.type_of_product.slug %}">{{product.type_of_product}}</a> /
        <a href="{% url 'read_more_about_all' slug_id=product.slug  %}" class="hisory_links_elem" >{{ product.only_name }}</a> / 
        <span class="hisory_links_elem span_link" >Features</span>
    </div>
    
    {% get_read_header_menu product=product special_element='Features'  %}
    <div class="features_conteiner"">
        <div class="features_list">
            <div class="features_header">
                <span class="features_list_header">Characteristics of </span> {{product.name}}
            </div>
            <div class="features_screen">
                <div class="features_title">
                    Screen
                </div>
                <table>
                    <tr>
                        <td class="characteristic_name"">Screen diagonal </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='diagonal_screen' charact_slug=characteristic.diagonal_screen.slug %}">
                                {{characteristic.diagonal_screen}}
                            </a>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="characteristic_name"">Type of screen </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> 
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='screen_type' charact_slug=characteristic.screen_type.slug %}">
                                {{characteristic.screen_type}}
                            </a>    
                        </td>
                    </tr>
                    <tr>
                        <td class="characteristic_name"">Screen update frequency </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> 
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='screen_frequency' charact_slug=characteristic.screen_frequency.slug %}">
                                {{characteristic.screen_frequency}}
                            </a>    
                        </td>
                    </tr>
                </table>
            </div>
            <div class="features_processor">
                <div class="features_title">
                    Processor
                </div>
                <table>
                    <tr>
                        <td class="characteristic_name"">Processor </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='processor' charact_slug=characteristic.processor_name.slug %}">
                                {{characteristic.processor_name}}
                            </a>    
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="characteristic_name"">Operating system</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> 
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='operation_system' charact_slug=characteristic.operation_system.slug %}">
                                {{characteristic.operation_system}}
                            </a>    
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="features_ram">
                <div class="features_title">
                    RAM
                </div>
                <table>
                    <tr>
                        <td class="characteristic_name">The amount of RAM</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='memory_capacity' charact_slug=characteristic.memory_capacity.slug %}">
                                {{characteristic.memory_capacity}}
                            </a>    
                        </td>
                    </tr>
                    <tr >
                        <td class="characteristic_name">Number of slots for RAM</td>
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> 
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='memory_slots' charact_slug=characteristic.memory_slots.slug %}">
                                {{characteristic.memory_slots}}
                            </a>        
                        </td>
                    </tr>
                    <tr>
                        <td class="characteristic_name">Type of RAM</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value" > 
                                <a class="features_link" href="{% url 'get_characteristic_query' charact='memory_type' charact_slug=characteristic.memory_type.slug %}">
                                {{characteristic.memory_type}} 
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="features_data_collectors">
                <div class="features_title">
                    Data collectors
                </div>
                <table>
                    <tr>
                        <td class="characteristic_name">The volume of the drive</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> 
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='hard_drive' charact_slug=characteristic.data_storage.slug %}">
                                {{characteristic.data_storage.hard_drive_capacity}} {{characteristic.data_storage.hard_drive_type}}
                            </a>    
                        </td>
                    </tr>
                </table>
            </div>
            <div class="features_video_card">
                <div class="features_title">Video card
                </div>
                <table>
                    <tr>
                        <td class="characteristic_name"">Video card</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='video_card' charact_slug=characteristic.video_card.slug %}">
                                {{characteristic.video_card}}
                            </a>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="characteristic_name"">Video card memory</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">
                            <a class="features_link" href="{% url 'get_characteristic_query' charact='video_card_memory' charact_slug=characteristic.video_card_memory.slug %}">
                                {{characteristic.video_card_memory}}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="features_screen">
                <div class="features_title">
                    Corps
                </div>
                <table>
                    <tr>
                        <td class="characteristic_name"">Color </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">{{characteristic.color}}</td>
                        
                    </tr>
                    <tr>
                        <td class="characteristic_name"">Weight </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.weight}} </td>
                    </tr>
                    <tr>
                        <td class="characteristic_name"">Battery capacity</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.battery}}</td>
                        <tr>
                            <td class="characteristic_name"">Manipulators</td>
                            
                            {% for i in '034000888999'|make_list %}
                                <td>.....</td>
                            {% endfor %}
                            <td class="characteristic_value"> {{characteristic.manipulators}}</td>
                        </tr>
                        <tr>
                            <td class="characteristic_name"">Dimensions (W x H x H)</td>
                            
                            {% for i in '034000888999'|make_list %}
                                <td>.....</td>
                            {% endfor %}
                            <td class="characteristic_value"> {{characteristic.height}} x {{characteristic.width}} x {{characteristic.depth}} mm</td>
                        </tr>
                    </tr>
                </table>
            </div>
            <div class="features_connection">
                <div class="features_title">
                    Connection
                </div>
                <table>
                    <tr class="features_table_row">
                        <td class="characteristic_name"">Network adapters</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value">{{characteristic.network_adapters}}</td>
                    </tr>
                    <tr class="features_table_row">
                        <td class="characteristic_name"">Connectors and I / O ports</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.input_output}} </td>
                    </tr>
                    <tr class="features_table_row">
                        <td class="characteristic_name"">Wireless connection</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.wireless_connection}}</td>
                    </tr>    
                    <tr class="features_table_row">
                        <td class="characteristic_name""> Manufacturing country</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.product.country_made}}</td>
                    </tr> 
                    <tr class="features_table_row">
                        <td class="characteristic_name""> Short characteristics
                        </td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.product.short_description}}</td>
                    </tr> 
                    <tr class="features_table_row">
                        <td class="characteristic_name""> View</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.product.type_of_product}}</td>
                    </tr> 
                    <tr class="features_table_row">
                        <td class="characteristic_name""> Brand Registration Country</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.product.country_brand}}</td>
                    </tr> 
                    <tr class="features_table_row">
                        <td class="characteristic_name""> Warranty</td>
                        
                        {% for i in '034000888999'|make_list %}
                            <td>.....</td>
                        {% endfor %}
                        <td class="characteristic_value"> {{characteristic.product.warranty}}</td>
                    </tr> 
                </table>
            </div>
        </div>
        <div class="features_product_details">
            {{product}}
        </div>
    </div>
{% endblock %}

