{% extends '../store/get_more.html' %}
{% load static %}
{% load menu_tags %}



{% block history_links %}
<a href="{% url 'read_more_about_all' slug_id=product.slug  %}" class="hisory_links_elem" >{{ product.only_name }}</a> / 
<span class="hisory_links_elem span_link" >Photo</span>

{% endblock %}


{% block main-content %}
    {% get_read_header_menu product=product special_element='Photo'  %}

    <div class="image-container">
        <img src="{{product.photo.url}}" width="100%" alt="{{product.name}}"/>
        {% for elem in images %}
            <img src="{{elem.images.url}}" width="100%" alt="{{elem.product.name}}"/>
        {% endfor %}
{% endblock %}

