{% extends '../store/get_more.html' %}
{% load static %}
{% load menu_tags %}



{% block history_links %}
<a href="{% url 'read_more_about_all' slug_id=product.slug  %}" class="hisory_links_elem" >{{ product.only_name }}</a> / 
<span class="hisory_links_elem span_link" >Reviews</span>

{% endblock %}


{% block main-content %}
    {% get_read_header_menu product=product special_element='Reviews'  %}

    <div class="comments">
        {% for comment in comments %}
            <h3>👉{{ request.user.username }}👈</h3>
            <div class="comment_block">
                <div class="comment__body">
                    {% if comment.len > 168 %}
                        <details>
                            <summary>{{ comment.comment|slice:":168"}}</summary>
                            {{comment.comment|slice:"168:"}}    
                        </details> 
                    {% else %}    
                        <p> {{ comment.comment }} </p>

                    {% endif %}
                </div>
                {% if not like_dict|get_item:comment %}
                    <div class="like_count ">
                        <a href="{% url 'comment_like' comment_pk=comment.pk product_id=product.slug %}" style="color:#FF0000;" id="likebtn{{ post.id }}"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"    class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg> 
                        </a>
                        <span class="ml-3" style="margin-left: 5px;">{{comment.likes_comment.count}}</span>
                    </div>    
                {% else %}
                    <div class="like_count ">
                        <a href="{% url 'comment_like' comment_pk=comment.pk product_id=product.slug %}" style="color:#FF0000;" id="likebtn{{ post.id }}"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                        </a>
                        <span class="ml-5" style="margin-left: 5px;">{{comment.likes_comment.count}}</span>
                    </div>    
                {% endif %}
            </div>
            
        {% empty %}
            <h4>There is no comment yet, Get first and leave your comment</h4> 
            <br> 
        {% endfor %}
    </div> 
    <div class="form ">
            
        <form action="" method="post"   class="form_registr">

            {% csrf_token %}
            <div class="form-group-reg">
                
                    
                <div class="form-group-reg" style="width: 900px;">
                    <label for="{{form.comment.id_for_label}}">Comment</label>
                    {{form.comment}}
                    <div class="form-error">
                        {{form.comment.errors}}
                    </div>
                </div>
               
            </div>
            <div class="button_fiels">
                <button type="submit" class="btn btn-success btn-block reg_butt">Comment</button>
            </div>
        </form>
    </div>      

{% endblock %}

