{% extends '../market/base.html' %}
{% load static %}
{% load menu_tags %}

{% block link %}
	<link rel="stylesheet" href="{% static 'market/store/css/styles-home.css' %}">
	<title>{{title}}</title>
{% endblock %}

{% block main-content %}
	<div class="header_links">
		
	</div>
	<div class="card-column">	
		{% for product in all_products %}
			<div class="row">
				<div class="example-1 card">
				<div class="wrapper">
					{% if product.type_of_product.name == "phone" %}
						<a href="{% url 'read_more_about_all' slug_id=product.slug %}"><img src="{{product.photo.url}}" style="margin-left: 100px;" width="170px" height="300px" alt=""></a>
					{% elif product.type_of_product.name == "Computer" %}
						<a href="{% url 'read_more_about_all' slug_id=product.slug %}"><img src="{{product.photo.url}}" width="370px" height="300px"  alt=""></a>	
					{% else %}
						<a href="{% url 'read_more_about_all' slug_id=product.slug %}"><img src="{{product.photo.url}}" width="370px"  alt=""></a>
						
					{% endif %}
					<div class="data">
					<div class="content">
						
						<h1 class="title"><a href="{% url 'read_more_about_all' slug_id=product.slug %}">{{product.name}} </a></h1>
						<p class="text">{{product.short_description}}</p>
						
						<div class=" d-flex justify-content-end aditional_product_like" style=" margin-top: -30px;">
							{% if not all_products_like|get_item:product %}
								<a href="{% url 'like_product' post_id=product.slug product_id='home' %}" style="color:#FF0000; margin-right: 7px;" id="likebtn{{ product.id }}"> 
								  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"    class="bi bi-heart" viewBox="0 0 16 16">
									  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
								  </svg> 
								</a>
								<span class="ml-3 product_like_count" style="color: red;">{{product.likes.count}}</span>
							{% else %}
								<a href="{% url 'like_product' post_id=product.slug product_id='home' %}" style="color: red; margin-right: 7px;" id="likebtn{{ product.id }}">    
								  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"    class="bi bi-heart-fill" viewBox="0 0 16 16">
									  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
								  </svg>
								 </a>
								<span class="ml-5 product_like_count" style="color: red;"> {{product.likes.count}}</span>
							{% endif %}
						  </div> 

						<div class="price-card">
							<a src="" class="btn btn-success product-price">{{product.price}}грн</a>
							{% if request.user.is_authenticated %}
								<a  class=" btn menu-button"  href="{% url 'add_to_cart' product_slug=product.slug %}"> add to cart</a>
							{% else %}
								<a  class=" btn menu-button disabled "  href="{% url 'add_to_cart' product_slug=product.slug %}"> add to cart</a>
							{% endif %}
						</div>	
					</div>
					
					</div>
				</div>
				</div>
			</div>
		{% endfor %}
	</div>	
{% endblock %}

